<html>
<head>
  <title>About me</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=0">
<meta name="description" content="priyanka kadam is learning fashion designning.here is her some designs">
<meta name="keywords" content="designer dresses,anarkali dresses, fancy dresses,design sketches">
<meta name="author" content="priyanka">
</head>
<body>
  <div class="container">
    <div style="background-color:#111111; padding:100px 30px 100px 30px;" class="w3-card-4 myback">
      <div class="row" style="font-family:Comic Sans MS;">
      <div class="col-md-6"><%=  image_tag('https://s19.postimg.org/deumu08v7/priya2.png',class:"img-responsive") %></div>
        <div class="col-md-6" style="align:center; color:#FFFF99; font:90px;"><h3>Hello.. I am Priyanka Kadam,</h3>
          <dd style="color:#CCCCCC; font:50px;"><p>&nbsp;&nbsp;<h4>I am an enthusiastic engineering student with my hobby as fashion designing. I have started it since 2009. My interest in this
field is because of my mother as she is completed her certified course in designing and my father always support me.</h4> </p><br>
          <p><h4>&nbsp;&nbsp;If your are enthusiastic about new fashion and my different designs then you are at correct place.
There are a number of different types of sewing and they all serve their own unique purposes. You can also choose to
 sew by hand or learn to sew by machine, with each offering their own benefits and their detractions.
Sewing is seen by many as a dying art but it can be a very relaxing and rewarding hobby and I enjoy it and throughout my
life I will enjoy it.</h4></p>
          <p>&nbsp;&nbsp;<h4>The purpose of this website is to share my art and give motivation to others. I will share my all designs for you on this
website.  So if you really like my designs then do like and comment or you can also contact me on "<u>contact@priyankakadam.herokuapp.com</u>"
for any queries or improvements.</h4></p></td>
    </div>



    </div>
    </div>
  </body>
</html>
