// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
   background: #000  url("https://s19.postimg.org/6yvberw0z/mainbackground.jpg");
    background-size:cover;
    background-repeat: no-repeat;
      background-attachment: fixed;
    width: 100%;
}
